In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('hurricane_harvey.csv')

In [3]:
df

                                                  Tweet  Label
0     CONGRATS ON HITTING YOIR GOAL GUYS, I'm sure t...      0
1     RT @ajwamood: #ajwamood : Harvey the first maj...      1
2     RT @ajwamood: #ajwamood : Harvey the first maj...      1
3     RT @ajwamood: #ajwamood : Harvey the first maj...      1
4     RT @ajwamood: #ajwamood : Harvey the first maj...      1
...                                                 ...    ...
4429  We delivered our relief efforts to Rockport to...      1
4430  We delivered our relief efforts to Rockport to...      1
4431  Get your parts from the best in the industry, ...      0
4432  3 hats for #HurricaneHarvey fundraiser. So pre...      1
4433  .@UWMadison students in Houston to aid post-Ha...      1

[4434 rows x 2 columns]

In [4]:
df.isnull().sum()

Tweet    0
Label    0
dtype: int64

In [5]:
def lower(x):
    return x.lower()
df['Tweet']=df['Tweet'].apply(lower)

In [6]:
df

                                                  Tweet  Label
0     congrats on hitting yoir goal guys, i'm sure t...      0
1     rt @ajwamood: #ajwamood : harvey the first maj...      1
2     rt @ajwamood: #ajwamood : harvey the first maj...      1
3     rt @ajwamood: #ajwamood : harvey the first maj...      1
4     rt @ajwamood: #ajwamood : harvey the first maj...      1
...                                                 ...    ...
4429  we delivered our relief efforts to rockport to...      1
4430  we delivered our relief efforts to rockport to...      1
4431  get your parts from the best in the industry, ...      0
4432  3 hats for #hurricaneharvey fundraiser. so pre...      1
4433  .@uwmadison students in houston to aid post-ha...      1

[4434 rows x 2 columns]

In [7]:
from emot.emo_unicode import UNICODE_EMOJI
# Function for converting emojis into word
def convert_emojis(text):
    for emot in UNICODE_EMOJI:
        text = text.replace(emot, "_".join(UNICODE_EMOJI[emot].replace(",","").replace(":","").split()))
    return text
df['Tweet']=df['Tweet'].apply(convert_emojis)

In [8]:
df

                                                  Tweet  Label
0     congrats on hitting yoir goal guys, i'm sure t...      0
1     rt @ajwamood: #ajwamood : harvey the first maj...      1
2     rt @ajwamood: #ajwamood : harvey the first maj...      1
3     rt @ajwamood: #ajwamood : harvey the first maj...      1
4     rt @ajwamood: #ajwamood : harvey the first maj...      1
...                                                 ...    ...
4429  we delivered our relief efforts to rockport to...      1
4430  we delivered our relief efforts to rockport to...      1
4431  get your parts from the best in the industry, ...      0
4432  3 hats for #hurricaneharvey fundraiser. so pre...      1
4433  .@uwmadison students in houston to aid post-ha...      1

[4434 rows x 2 columns]

In [9]:
from nltk.tokenize import word_tokenize
def tokenize(x):
    return word_tokenize(x)
df['Tweet']=df['Tweet'].apply(tokenize)

In [10]:
df

                                                  Tweet  Label
0     [congrats, on, hitting, yoir, goal, guys, ,, i...      0
1     [rt, @, ajwamood, :, #, ajwamood, :, harvey, t...      1
2     [rt, @, ajwamood, :, #, ajwamood, :, harvey, t...      1
3     [rt, @, ajwamood, :, #, ajwamood, :, harvey, t...      1
4     [rt, @, ajwamood, :, #, ajwamood, :, harvey, t...      1
...                                                 ...    ...
4429  [we, delivered, our, relief, efforts, to, rock...      1
4430  [we, delivered, our, relief, efforts, to, rock...      1
4431  [get, your, parts, from, the, best, in, the, i...      0
4432  [3, hats, for, #, hurricaneharvey, fundraiser,...      1
4433  [., @, uwmadison, students, in, houston, to, a...      1

[4434 rows x 2 columns]

In [11]:
def remove_punct(x):
    import string
    punct_tag=set(string.punctuation)
    t=[i for i in x if i not in punct_tag]
    return t
      
df['Tweet']=df['Tweet'].apply(remove_punct)

In [12]:
df

                                                  Tweet  Label
0     [congrats, on, hitting, yoir, goal, guys, i, '...      0
1     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
2     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
3     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
4     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
...                                                 ...    ...
4429  [we, delivered, our, relief, efforts, to, rock...      1
4430  [we, delivered, our, relief, efforts, to, rock...      1
4431  [get, your, parts, from, the, best, in, the, i...      0
4432  [3, hats, for, hurricaneharvey, fundraiser, so...      1
4433  [uwmadison, students, in, houston, to, aid, po...      1

[4434 rows x 2 columns]

In [13]:
def whites(x):
    w={' '}
    x=[i for i in x if i not in w]
    return x
df['Tweet']=df['Tweet'].apply(whites)

In [14]:
df

                                                  Tweet  Label
0     [congrats, on, hitting, yoir, goal, guys, i, '...      0
1     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
2     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
3     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
4     [rt, ajwamood, ajwamood, harvey, the, first, m...      1
...                                                 ...    ...
4429  [we, delivered, our, relief, efforts, to, rock...      1
4430  [we, delivered, our, relief, efforts, to, rock...      1
4431  [get, your, parts, from, the, best, in, the, i...      0
4432  [3, hats, for, hurricaneharvey, fundraiser, so...      1
4433  [uwmadison, students, in, houston, to, aid, po...      1

[4434 rows x 2 columns]

In [15]:
from nltk.corpus import stopwords
import nltk
def re_stop(x):
    nltk_stopwords = nltk.corpus.stopwords.words("english")
    return [ token for token in x if token not in nltk_stopwords]
df['Tweet']=df['Tweet'].apply(re_stop)

In [16]:
df

                                                  Tweet  Label
0     [congrats, hitting, yoir, goal, guys, 'm, sure...      0
1     [rt, ajwamood, ajwamood, harvey, first, major,...      1
2     [rt, ajwamood, ajwamood, harvey, first, major,...      1
3     [rt, ajwamood, ajwamood, harvey, first, major,...      1
4     [rt, ajwamood, ajwamood, harvey, first, major,...      1
...                                                 ...    ...
4429  [delivered, relief, efforts, rockport, today, ...      1
4430  [delivered, relief, efforts, rockport, today, ...      1
4431  [get, parts, best, industry, tornado, heavy, e...      0
4432  [3, hats, hurricaneharvey, fundraiser, pretty,...      1
4433  [uwmadison, students, houston, aid, post-harve...      1

[4434 rows x 2 columns]

In [17]:
from nltk.stem import WordNetLemmatizer
def lemm(x):
    l=[]
    for i in x:
        l.append(WordNetLemmatizer().lemmatize(i))
    return l    
df['Tweet']=df['Tweet'].apply(lemm)

In [18]:
from nltk.stem.porter import PorterStemmer
def stemm(x):
    l=[]
    for i in x:
        l.append(PorterStemmer().stem(i))
    return l    
df['Tweet']=df['Tweet'].apply(stemm)

In [19]:
# def combine(x):
#     return ' '.join(x)
# df['Tweet']=df['Tweet'].apply(combine)

In [20]:
df

                                                  Tweet  Label
0     [congrat, hit, yoir, goal, guy, 'm, sure, vict...      0
1     [rt, ajwamood, ajwamood, harvey, first, major,...      1
2     [rt, ajwamood, ajwamood, harvey, first, major,...      1
3     [rt, ajwamood, ajwamood, harvey, first, major,...      1
4     [rt, ajwamood, ajwamood, harvey, first, major,...      1
...                                                 ...    ...
4429  [deliv, relief, effort, rockport, today, thank...      1
4430  [deliv, relief, effort, rockport, today, thank...      1
4431  [get, part, best, industri, tornado, heavi, eq...      0
4432  [3, hat, hurricaneharvey, fundrais, pretti, to...      1
4433  [uwmadison, student, houston, aid, post-harvey...      1

[4434 rows x 2 columns]

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
X=df['Tweet']
Y=df['Label']
glove={}
total_vocabulary = set(word for text in X for word in text)
with open(r"D:\deployment\abc\proj\media\glove.twitter.27B.100.txt", "rb") as f:
    for line in f:
        parts = line.split()
        word = parts[0].decode("utf-8")
        if word in total_vocabulary:
            vector = np.array(parts[1:], dtype=np.float32)
            glove[word] = vector

class W2vVectorizer(object):
    def __init__(self, w2v):
        self.w2v = w2v
        if len(w2v) == 0:
            self.dimensions = 0
        else:
            self.dimensions = len(w2v[next(iter(glove))])

    def fit(self, X, Y):
        return self

    def transform(self, X):
        return np.array([np.mean([self.w2v[w] for w in words if w in self.w2v] or [np.zeros(self.dimensions)],axis=0,) for words in X])

vectorizer = W2vVectorizer(glove)
X_glove = vectorizer.transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_glove, Y, test_size=0.2)
X_train_vtc = X_train
X_test_vtc = X_test

In [22]:

# X_train, X_test, y_train, y_test = train_test_split(X,df['Label'], test_size=0.2,random_state=35)

In [23]:
from sklearn.linear_model import LogisticRegression
model_l=LogisticRegression().fit(X_train,y_train)
y_pred=model_l.predict(X_test)
score=classification_report(y_test, y_pred)
print(score)

              precision    recall  f1-score   support

           0       0.70      0.37      0.48       239
           1       0.80      0.94      0.87       648

    accuracy                           0.79       887
   macro avg       0.75      0.66      0.68       887
weighted avg       0.78      0.79      0.76       887

In [24]:
from sklearn.svm import SVC
rf_kn =SVC()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.79      0.37      0.51       239
           1       0.81      0.96      0.88       648

    accuracy                           0.80       887
   macro avg       0.80      0.67      0.69       887
weighted avg       0.80      0.80      0.78       887

In [25]:
from sklearn.tree import DecisionTreeClassifier
rf_kn = DecisionTreeClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.51      0.49      0.50       239
           1       0.81      0.83      0.82       648

    accuracy                           0.74       887
   macro avg       0.66      0.66      0.66       887
weighted avg       0.73      0.74      0.73       887

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf_kn = RandomForestClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.85      0.43      0.57       239
           1       0.82      0.97      0.89       648

    accuracy                           0.83       887
   macro avg       0.84      0.70      0.73       887
weighted avg       0.83      0.83      0.81       887

In [27]:
from sklearn.neighbors import KNeighborsClassifier
rf_kn = KNeighborsClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.86      0.30      0.44       239
           1       0.79      0.98      0.88       648

    accuracy                           0.80       887
   macro avg       0.82      0.64      0.66       887
weighted avg       0.81      0.80      0.76       887

In [28]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.53      0.57      0.55       239
           1       0.84      0.81      0.82       648

    accuracy                           0.75       887
   macro avg       0.68      0.69      0.69       887
weighted avg       0.75      0.75      0.75       887

In [29]:
import xgboost as xgb
xgb_model = xgb.XGBRegressor(objective="binary:logistic", random_state=42)
xgb_model.fit(X_train, y_train)
y_pred=xgb_model.predict(X_test)
score1=classification_report(y_test,y_pred.round())
print(score1)

              precision    recall  f1-score   support

           0       0.78      0.49      0.60       239
           1       0.83      0.95      0.89       648

    accuracy                           0.83       887
   macro avg       0.81      0.72      0.74       887
weighted avg       0.82      0.83      0.81       887

In [30]:
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import StackingClassifier

estimator_list = [
        ("knn", KNeighborsClassifier()),
        ("svm_rbf", SVC()),
        ("dt", DecisionTreeClassifier()),
        ("rf", RandomForestClassifier()),
        ("mlp", MLPClassifier(alpha=1, max_iter=1000)),
    ]
stack_model = StackingClassifier(
        estimators=estimator_list, final_estimator=LogisticRegression()
    )
stack_model.fit(X_train, y_train)
y_pred = stack_model.predict(X_test)
score = classification_report(y_test, y_pred)
print(score)

              precision    recall  f1-score   support

           0       0.75      0.52      0.62       239
           1       0.84      0.94      0.89       648

    accuracy                           0.83       887
   macro avg       0.80      0.73      0.75       887
weighted avg       0.82      0.83      0.81       887

In [ ]:
def voting():
    global vcl
    if vcl == "V_RANDOM_CL":
        score = v_RandomForest_classifier()
    elif vcl == "V_DECISION_CL":
        score = v_decision_tree_classifier()
    elif vcl == "V_KNN_CL":
        score = v_KNeighbors_classifier()
    elif vcl == "V_SVC_CL":
        score = v_SVC_classsifier()
    elif vcl == "V_all":
        score = v_all()
    return score


def v_RandomForest_classifier():
    models = list()
    models.append(("dt1", RandomForestClassifier(max_depth=2)))
    models.append(("dt3", RandomForestClassifier(max_depth=3)))
    models.append(("dt5", RandomForestClassifier(max_depth=4)))
    models.append(("dt7", RandomForestClassifier(max_depth=5)))
    models.append(("dt9", RandomForestClassifier(max_depth=6)))
    ensemble = VotingClassifier(estimators=models, voting="soft")
    ensemble.fit(X_train, y_train)
    y_pred = ensemble.predict(X_test)
    score = classification_report(y_test, y_pred, output_dict=True)
    return score


def v_decision_tree_classifier():
    models = list()
    models.append(("dt1", DecisionTreeClassifier(max_depth=2)))
    models.append(("dt3", DecisionTreeClassifier(max_depth=3)))
    models.append(("dt5", DecisionTreeClassifier(max_depth=4)))
    models.append(("dt7", DecisionTreeClassifier(max_depth=5)))
    models.append(("dt9", DecisionTreeClassifier(max_depth=6)))
    ensemble = VotingClassifier(estimators=models, voting="soft")
    ensemble.fit(X_train, y_train)
    y_pred = ensemble.predict(X_test)
    score = classification_report(y_test, y_pred, output_dict=True)
    return score


def v_KNeighbors_classifier():
    models = list()
    models.append(("knn1", KNeighborsClassifier(n_neighbors=1)))
    models.append(("knn3", KNeighborsClassifier(n_neighbors=3)))
    models.append(("knn5", KNeighborsClassifier(n_neighbors=5)))
    models.append(("knn7", KNeighborsClassifier(n_neighbors=7)))
    models.append(("knn9", KNeighborsClassifier(n_neighbors=9)))
    ensemble = VotingClassifier(estimators=models, voting="soft")
    ensemble.fit(X_train, y_train)
    y_pred = ensemble.predict(X_test)
    score = classification_report(y_test, y_pred, output_dict=True)
    return score


def v_SVC_classsifier():
    models = list()
    models.append(("svm1", SVC(probability=True, kernel="poly", degree=1)))
    models.append(("svm2", SVC(probability=True, kernel="poly", degree=2)))
    models.append(("svm3", SVC(probability=True, kernel="poly", degree=3)))
    models.append(("svm4", SVC(probability=True, kernel="poly", degree=4)))
    models.append(("svm5", SVC(probability=True, kernel="poly", degree=5)))
    ensemble = VotingClassifier(estimators=models, voting="soft")
    ensemble.fit(X_train, y_train)
    y_pred = ensemble.predict(X_test)
    score = classification_report(y_test, y_pred, output_dict=True)
    return score


def v_all():
    models = [
        ("knn", KNeighborsClassifier()),
        ("svm_rbf", SVC(probability=True)),
        ("dt", DecisionTreeClassifier()),
        ("rf", RandomForestClassifier()),
        ("mlp", MLPClassifier(alpha=1, max_iter=1000)),
    ]
    ensemble = VotingClassifier(estimators=models, voting="soft")
    ensemble.fit(X_train, y_train)
    y_pred = ensemble.predict(X_test)
    score = classification_report(y_test, y_pred, output_dict=True)
    return score